<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>DispWay-PlaylistEntryViewer</title>
</h:head>
<h:body>
    <h1>DispWay-PlaylistEntryViewer</h1>
    <p:panel header="Select a Client" style="margin-bottom:10px;">
        <h:panelGrid columns="2" cellpadding="5">
            <p:dataTable var="client" value="#{indexController.clients}"
                         rows="5" paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                <p:column headerText="ClientId">
                    <h:outputText value="#{client.id}" />
                </p:column>

                <p:column headerText="isOnline">
                    <h:outputText value="#{client.online}" />
                </p:column>

                <p:column headerText="LastSeen">
                    <h:outputText value="#{client.lastSeen}" />
                </p:column>

                <p:column style="width:32px;text-align: center">
                    <p:commandButton icon="ui-icon-search" title="View">
                        <f:setPropertyActionListener value="#{client.id}" target="#{indexController.selectedClient}" />
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:panelGrid>
    </p:panel>
     <p:panel header="Client Playlist" style="margin-bottom:10px;">
        <h:form id="elist">
            <p:dataTable value="#{indexController.entries}" var="e" width="100%">
                <p:column headerText="EntryId">
                    <h:outputText value="#{e.id}"/>
                </p:column>
                <p:column headerText="Filename">
                    <h:outputLink value="#{indexController.generateServletURI(e.id,e.type)}" target="_blank">
                        #{e.image.filename}
                    </h:outputLink>
                </p:column>
                <p:column headerText="Type">
                    <h:outputText value="#{e.type}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
    <br></br>


</h:body>
</html>
